/* styles.css */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ba4848;
}

div {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(137, 39, 39, 0.1);
  border-radius: 10px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

button {
  font-size: 1rem;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

button:hover:enabled {
  background-color: #0056b3;
}
